<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LOGINservlet</servlet-name>
        <servlet-class>servlets.LOGINservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>servlets.RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SIGNUPservlet</servlet-name>
        <servlet-class>servlets.SIGNUPservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterRoom</servlet-name>
        <servlet-class>servlets.FilterRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LOGINservlet</servlet-name>
        <url-pattern>/LOGINservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SIGNUPservlet</servlet-name>
        <url-pattern>/SIGNUPservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRoom</servlet-name>
        <url-pattern>/FilterRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
